/*****************************************************************************/
/*
/* General utils
/*
/*****************************************************************************/
.no-underline {
  text-decoration: none;
}
.tr {
  text-align: right;
}
.tt {
  vertical-align: top;
}

/*****************************************************************************/
/*
/* Skeleton tweaks
/*
/*****************************************************************************/
.table.no-borders tr,
.table.no-borders td {
  border: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#footer {
  text-align: center;
  font-size: 0.9em;
  color: #8f8484;
}

#header {
  padding: 10px 10px 10px 0px;
  margin-bottom: 10px;
}

#header a {
  margin-right: 10px;
}

#header h1,
h2,
h3,
h4,
h5 {
  display: inline;
}

#header .title {
  margin-right: 35px;
}

.sidebar {
  border: 1px solid #848e99;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.sidebar img.profile-image {
  max-width: 100%;
  margin-bottom: 15px;
}

.sidebar div.profile-row {
  text-align: right;
  padding-right: 15px;
  margin-bottom: 3px;
}
.sidebar a div.profile-row:hover {
  background-color: #e3e8ee;
}

.sidebar div.profile-row div {
  display: inline;
}

.sidebar div.profile-row div.icon {
  color: #7b8c9e;
  width: 15px;
  margin-left: 7px;
  font-size: 1.3em;
}

#resume-table {
  line-height: 1.3;
}

#resume-table th, td {
  padding: 10px 12px;
}

#resume-table td.column-heading {
  font-weight: bolder;
  border-bottom: 1px solid black !important;
  text-align: right;
  padding-right: 0px;
  padding-bottom: 3px;
}

#resume-table td.date {
  min-width: 110px;
  text-align: right;
  vertical-align: top;
  padding-right: 0px;
}

#resume-table td.institution {
  font-weight: bolder;
}

#resume-table td.institution span.location {
  font-weight: normal;
  font-style: italic;
  margin-left: 7px;
}

@media only screen and (max-width: 768px) {

  #resume-table td.institution span.location {
    display: block;
    margin-left: 0px;
  }
}

#resume-table td.spacer {
}

#resume-table td.overview {
  padding: 10px;
}
